<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">News Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger">SCRAPE NEW ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>

{{!-- end nav --}}

<div class="jumbotron text-center" style="background-color: #222222 !important;color: #eeeeee !important;">
  <div class="overlay" style="background-color: rgba(0, 0, 0, 0) !important;">
  </div>
  <div class="background-image" style="background-color: rgba(0, 0, 0, 0) !important;">
  </div>
  <div class="caption" style="background-color: rgba(0, 0, 0, 0) !important;">
    <h1 style="background-color: rgba(0, 0, 0, 0) !important;">News Scraper</h1>
    <h4 style="background-color: rgba(0, 0, 0, 0) !important;">New York Times Edition</h4>
    <p style="background-color: rgba(0, 0, 0, 0) !important;">Tech Edition</p>
  </div>
</div>