<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Tech News Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger">Scrape New Articles!</a>
      </li>
    </ul>
  </div>
</nav>

{{!-- end nav --}}

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Tech News Scraper</h1>
    <p>New York Times Edition</p>
  </div>
</div>

<div id="articles"></div>

<div class="container-fluid article-container">
  <div data-_id="5ce185f8769f38001531f9cf" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer"
          href="https://www.nytimes.com/2019/05/19/us/politics/republicans-abortion-economy-issues.html">Abortion or
          Economy? For G.O.P., Cultural Issues Undercut 2020 MessageInside the Network of Anti-Abortion Activists
          Winning Across the CountryA restrictive Georgia law opened debate about whether women who miscarry could be
          questioned or even prosecuted.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">The raw cultural momentum of the anti-abortion movement has taken over, and it shows no signs
      of slowing.</div>
  </div>